@import "tailwindcss";
/* 
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translate(-50%, -12px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.animate-slideDown {
  animation: slideDown 0.25s ease-out;
} */
